* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

/*  */
.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  /* border: 1px solid black;  */
  font-family: "Inter", sans-serif;
}
/*  */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.hamburger__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
}

nav li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}

li a:hover {
  color: hsl(35, 77%, 62%);
}

/* mobile menu */

nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  transition: ease .5s;
  background-color: #fff;
  padding: 2rem 5%;
}

nav .close__menu {
  display: flex;
  justify-content: end;
}

nav .nav__links {
  margin-top: 10rem;
}

.nav__links li{
  margin-bottom: 2rem;
}

li a {
  font-size: 1.3rem;
}

/*** mobile menu - active */

nav.active {
  right: 0
}

/* close mobile menu */
.body__2 {
  transition: ease .5s;
}

.body__2.active {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.304);
}


/* desktop view */

@media screen and (min-width: 769px) {
  header .hamburger__menu {
    display: none;
  }

  nav {
    position: unset;
    width: initial;
    height: initial;
    padding: 0;
    transition: none;
  }

  nav .nav__links {
    display: flex;
    margin-top: initial;
    gap: 50px;
  }

  .nav__links li {
    margin-bottom: initial;
  }

  li a {
    font-size: 1rem;
  }

  nav .close__menu {
    display: none;
  }
}